@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s ease;
    font-family: Epilogue, sans-serif;
}
li{
    list-style: none;
}
input{
    outline: none;
    padding-left: 1rem;
}
.hader{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right , #FFFAF6 10%, #add3d0  90%)
}
.navbar{
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
}
.navbar-centr ul{
    display: flex;
    gap: 2rem;
}
.navbar-centr ul li a{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Epilogue, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: #535756;
    position: relative;
}
.navbar-centr ul li a:active{
    transform: scale(1.1);
}
.navbar-centr ul li:hover a::before{
    width: 100%;
}
.navbar-centr ul li a::before{
    content: "";
    width: 0%;
    height: 1px;
    background-color: #535756;
    position: absolute;
    bottom: -0.5rem;
    transition: all 0.5s ease;
}
.navbar-left ul{
    display: flex;
    gap: 2rem;
}
.navbar-left ul li a{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Epilogue, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: #535756;   
}
.navbar-left ul li:last-child a{
    border: 2px solid #387975;
    background-color: #387975;
    color: #FFFAF6;
    text-align: center;
    letter-spacing: .5px;
    text-transform: none;
    border-radius: 10px;
    margin-right: 0;
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    transition: all .3s;
}
.navbar-left ul li:last-child:hover a{
    border: 1px solid #387975;
    background-color: transparent;
    color: #387975;
}
.navbar-left ul li:first-child{
    font-size: 20px;
}
.bars{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
}
.bars span{
    width: 120%;
    height: 2px;
    position: absolute;
    top: 0;
    background-color: #000;
}
.bars::before{
    content: "";
    width:80%;
    height: 3px;
    top: 20%;
    background: #000;
    position: absolute;
}
.bars::after{
    content: "";
    width:100%;
    height: 3px;
    top: 40%;
    background: #000;
    position: absolute;   
}
.bars span::before{
    content: "";
    width:80%;
    height: 2px;
    top: 2.2rem;
    right: -0rem;
    background: #000;
    position: absolute;
}
@media only screen and (max-width:875px) {
    .navbar{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:1220px) {
    .navbar{
        padding-left: 3rem;
        padding-right:3rem;
    }
    .navbar-centr{
        display: none;
    }
    .navbar-left ul li:last-child{
        display: none;
    }
    .navbar-left ul{
        display: flex;
        align-items: center;
    }
    .bars{
        width: 40px;
        height: 40px;
        align-items: end;
        justify-content: end;
        display: block;
    }
    .bars span::before{
        top: 1.9rem;
    }   
    .medio-navbar{
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 10;
        top: -150vh;
        left: 0;
        background-color: #000000c8;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
    }
    .medio-navbar *{
        text-align: center;
        color: #fff !important;
    }
    .medio-navbar .navbar-centr{
        display: block;
    }
    .navbar-centr ul{
        flex-direction: column;
        gap: 2.5rem;
    }
    .navbar-centr ul li a{
        border: 1px solid #000;
        padding: 20px 20px;
    }
    .medio-navbar  .navbar-left{
        box-shadow: 0px 0px 1em #0000004b;
        padding: 30px 30px;
        margin-top: 3rem;
    }
    .medio-navbar .navbar-left ul{
        flex-direction: column;
    }
    .medio-navbar  .navbar-left ul li:last-child {
        color:red !important;
        font-family:"Poppins";
        font-weight: 800;
        cursor: pointer;
        display: block !important;
    }
    .navbar-left ul li:nth-child(2) a{
        border: 2px solid #387975;
        background-color: #387975;
        color: #FFFAF6;
        text-align: center;
        letter-spacing: .5px;
        text-transform: none;
        border-radius: 10px;
        margin-right: 0;
        padding: 16px 30px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1em;
        text-decoration: none;
        transition: all .3s;
    }
    .navbar-left ul li:nth-child(2):hover a{
        border: 1px solid #387975;
        background-color: transparent;
        color: #387975;
    }
    .navbar-left ul li:first-child{
        color: #fff !important;
    }
}
@media only screen and (min-width:1220px) {
    .medio-navbar{
        display: none;
    }
}
/* baner */
.baner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 6rem;
    margin-bottom: 4rem;
}
.baner-img {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.baner-lable{
    width: 40%;
    height: 80vh;
    justify-content:center;
    display: flex;
    flex-direction: column;
    transform: translateY(0px);
    animation: banerLab 1s linear;
}
@keyframes banerLab {
    from{
        transform: translateY(80px);
    }
    to{
        transform: translateY(0);
    }
}
.baner-lable-1{
    color: #222;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Epilogue, sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 1rem;
}
.baner-lable-2{
    width: 80%;
    color:#535756;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Epilogue, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.baner-img-1{
    position: relative;
    cursor: pointer;
}
.baner-img-1:nth-child(even){
    margin-top: 7rem;
}
.baner-img-1 img:first-child{
    position: relative;
    width: 100%;
}
.baner-img-1 img:nth-child(2){
    position: absolute;
    left: 80%;
}
.baner-img-1:nth-child(1) img:nth-child(2){
    position: absolute;
    left: 80%;
    top: -3rem;
}
.baner-img-1:nth-child(3) img:nth-child(2){
    top: -15%;
    left: 0;
}
.baner-img-1:nth-child(4) img:nth-child(2){
    bottom: 10%;
    left: -40%;
}
.baner-img-1 img{
    animation: banerImg 1s linear;
    transform: scale(1);
}
.baner-img-1:nth-child(2) img{
    animation: banerImg 1.3s linear;
}
.baner-img-1:nth-child(3) img{
    animation: banerImg 1.5s linear;
}
.baner-img-1:nth-child(4) img{
    animation: banerImg 1.7s linear;
}
.baner-img-1:nth-child(1) img:nth-child(2){
    animation: banerImg2-1 1s linear;
    transform: translateY(0px);
}
@keyframes banerImg2-1 {
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0);
    }
}
.baner-img-1:nth-child(2) img:nth-child(2){
    animation: banerImg2 1s linear;
    transform: translate(0px)
}
.baner-img-1:nth-child(4) img:nth-child(2){
    animation: banerImg2-2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    transform: translateY(0);
}
@keyframes banerImg2-2 {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes  banerImg2{
    from {
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes  banerImg{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
} 
.square{
    width: 40px;
    height: 40px;
    border: 10px solid #387975;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
@keyframes square {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.baner-img-1:nth-child(1) .square{
    width: 65px;
    height: 65px;
    border-color: #4CC8EF;
    top: 30%;
    left: -35%;
    animation: square 3s  ease-in-out infinite;
    transform: scale(1);
}
.baner-img-1:nth-child(2) .square{
    width: 50px;
    height: 50px;
    border-color: #8B5DCE;
    top: -30%;
    left: 40%;
    animation: square 4s  ease-in-out infinite;
    transform: scale(1);
}
.baner-img-1:nth-child(3) .square{
    width: 50px;
    height: 50px;
    border-color: #DE4344;
    bottom: 10%;
    animation: square 5s  ease-in-out infinite;
    transform: scale(1);
}
.baner-img-1:nth-child(4) .square{
    width: 35px;
    height: 35px;
    border-color: #387975;
    top: -20%;
    left: 20%;
    animation: square 6s  ease-in-out infinite;
    transform: scale(1);
}
.baner-input{
    width: 100%;
    height: 50px;   
    margin-bottom: 3.5rem;
}
.baner-input form{
    width: 100%;
    height: 70px;
    position: relative;
    border-radius: 20px;
    border: 0px;
    outline: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.baner-input form input:first-child::placeholder{
    color: #222;
} 
.baner-input form input:first-child{
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #222;
    border: 1px solid #535756;
}
.searchSubmit{
    width: 55px;
    height: 45px;
    position: absolute;
    background-color: #387975;
    background-image: url(https://cdn.prod.website-files.com/64184874f371bc785f2236eb/6419c95c34fcf444a6c951d5_Search.png);
    right: 2%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0px;
    cursor: pointer;
}
.baner-button a{
    color:#222;
    font-size: 22px;
}
@media only screen and (max-width:1220px) {
    .baner{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:1057px) {
    .baner{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .baner-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .baner-lable{
        width: 100%;
    }
    .baner-lable *{
        text-align: center;
    }
    .baner-input input:first-child{
        text-align: start;
    }

}
@media only screen and (max-width:656px) {
    .navbar{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .baner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:619px){
    .baner{
        padding-top: 1rem;
    }
    .baner-img{
        transform: scale(0.9);
    }
}
@media only screen and (max-width:580px) {
    .baner-img{
        width: 100%;
    }
    .baner-img-1{
        width: 50%;
    }
    .baner-img-1 img:nth-child(2){
        width: 30%;
    }
    .baner-lable-1{
        font-size: 30px;
    }
    .baner-lable-2{
        width: 100%;
        text-align: center;
    }
}







/* loader */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transition: all 0.8s ease;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    z-index: 500;
    top: 0vh;
    background: linear-gradient(to right , #04020ed4 , #3331c8d1);
}
.loder{
    top: -150vh;
    animation: loader 2s linear;
}
@keyframes loader {
  0%{
    top: 0vh;
  }
  85%{
    top: 0;
  }
  90%{
    top: -150vh;
  }
} 