<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eilts Test</title>
    <link rel="stylesheet" href="../static/eilts.css">
</head>
<body>
    <div class="test">
        <div class="test-lable">
            <div class="test-lable-1">This is Eilst test</div>
            <div class="test-lable-2">If the score is higher than 5 but up to 40, the level is A1.

                If the score is between 40 and 50, the level is A2.
                
                If the score is between 50 and 70, the level is B1.
                
                If the score is between 70 and 80, the level is B2.
                
                If the score is above 80 but up to 90, the level is C1.
                
                If the score is above 90, the level is C2.</div>
        </div>
    </div>
    <script ></script>
</body>
</html>