<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Course</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <div class="hader">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/642fb68262ccd07d50c3d59b_Logo%20Dark.png" alt="">
            </div>
            <div class="navbar-centr">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/test">Tests</a></li>
                    <div id="bars" class="bars">
                        <span></span>
                    </div>
                    <li><a href="">Log out</a></li>
                </ul>
            </div>
        </div>
        <div id="medioNavbar" class="medio-navbar">
            <div class="navbar-logo">
                <img width="200px" src="../static/img/navbar/craiyon_144931_transparent.png" alt="">
            </div>
            <div class="navbar-centr">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/test">Tests</a></li>
                    <li><a href="">Log out</a></li>
                    <li id="close">X</li>
                </ul>
            </div>
        </div>
        <div class="baner">
            <div class="baner-img">
                <div class="baner-img-1">
                    <img src="../static/img/baner/1.webp" alt="">
                    <img src="../static/img/baner/text-1.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/2.webp" alt="">
                    <img src="../static/img/baner/text-2.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/3.webp" alt="">
                    <img src="../static/img/baner/text-3.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/4.webp" alt="">
                    <img src="../static/img/baner/text-4.png" alt="">
                    <div class="square"></div>
                </div>
            </div>
            <div class="baner-lable">
                <div class="baner-lable-1">Learn With The Best Online School.</div>
                <div class="baner-lable-2">The world-leading platform with 10K+ successful lessons.</div>
                <div class="baner-input">
                    <form action="/search">
                        <input name="search" type="text" placeholder="Search course, mentor ect.">
                        <input type="submit"  class="searchSubmit" value="">
                    </form>
                </div>
                <div class="baner-button">
                    <a href="/test">Start the Test</a>
                </div>
            </div>
            <div class="bac-bottom"></div>
        </div>
    </div>
    <div class="tech">
        <div class="tech-lable">
            <div class="tech-lable-icon">
                <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641aae28b8c402657a1ed5a7_Icon%20Title.png" alt="">
            </div>
            <div class="tech-lable-1">Our Professional Teachers</div>
            <div class="tech-lable-2">We provide the best service that comes with the best results.</div>
        </div>
        <div class="tech-block">
            <div class="tech-block-top">
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-1.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Esther Howard</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-2.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Brooklyn Simons</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-3.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Savannah Nguyen</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-4.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Annette Black</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
            </div>
            <div class="tech-block-bottom">
                <div class="tech-block-bottom-img">
                    <img class="bottom-block-img-1" src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641ac245dfe41e211053ec72_Img%20Home.webp" alt="">
                    <img class="ab-img" src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641af96a5a8ad469932baea7_Experiance%20Img.png" alt="">
                </div>
                <div class="tech-block-bottom-lable">
                    <div class="tech-block-bottom-lable-1">Welcome to Online Class Twinkle</div>
                    <div class="tech-block-bottom-lable-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sit nunc mauris arcu blandit. Turpis vitae lectus a ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <a href="" class="tech-block-bottom-button">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="trust-part-3">
        <div class="trust-part-3-in">
         <div class="trust-part-3-in-blog">
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">1</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">2</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">3</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">4</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
             </div>
         </div>
         <div class="trust-part-3-in-blog-img">
            <div class="trust-lable">
                <div class="trust-in-lable-1">Services</div>
                <div class="trust-in-lable-2">What We <br> Provide To You </div>
                <div class="trust-in-lable-3">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel consequat ex urna ut massa maecenas justo sapien.                </div>
                <div class="trust-in-button">
                    <a href="">Veaw All</a>
                </div>
                </div>
            </div>
         </div>
        </div>
    </div>
    <!-- course -->
     <div class="course">
        <div class="coyurse-part-1">
            <div class="course-lable">
                <div class="course-lable-1">Our Courses</div>
                <div class="course-lable-2">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel <br> consequat ex urna ut massa maecenas justo sapien.
            </div>
        </div>
        <div class="course-button">
            <a href="">Viaw More</a>
        </div>
        </div>
        <div class="course-in">
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Beginner</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc8e45baae2caa45f142_French%20Img.png" alt="">
                </div>
                <div class="course-block-lable">
                    <div class="course-block-lable-1">French Language</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Upper-Intermediate</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc6edb871f7a03e1e95f_English.png" alt="">
                </div>
                <div class="course-block-lable">
                    <div class="course-block-lable-1">French Language</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Beginner</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc5a533494857b627f0c_French.png" alt="">
                </div>

                <div class="course-block-lable">
                    <div class="course-block-lable-1">English Language</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Beginner</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc41c04bba145893b348_Children%20Course.png" alt="">
                </div>
                <div class="course-block-lable">
                    <div class="course-block-lable-1">German Language</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Intermediate</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc2220e25d4f35534422_Intermedia%20img.png" alt="">
                </div>
                <div class="course-block-lable">
                    <div class="course-block-lable-1">Intermediate</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
            <div class="course-block-1">
                <div class="course-block-1-img">
                    <div class="img-lable">Advanced</div>
                    <img src="https://cdn.prod.website-files.com/64184874f371bc66ec2236f9/641acc02614c878044d73fb8_Advanced%20Img.png" alt="">
                </div>
                <div class="course-block-lable">
                    <div class="course-block-lable-1">Advanced Course</div>
                    <div class="course-block-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                    <div class="course-block-button">
                        <a href="">View More</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="testimonials">
        <div class="testimonials-lable">
            <div class="testimonials-lable-1">Testimonials</div>
            <div class="testimonials-lable-2">See What  Our <br> Students Say’s</div>
        </div>
        <div class="tr-block-in swiper">
            <div class="testimonials-in  swiper-wrapper">
                <div class=" swiper-slide">
                    <div class="testimonials-in-1">
                        <div class="testimonials-lable-1-in">
                            The teachers are simply wonderful. I am very <br> happy that I went to study English here. <br> Lessons and practice at the highest level. <br> Thanks for the lessons!
                        </div>
                    </div>
                </div>
                <div class="testimonials-in-1 swiper-slide">
                    <div class="testimonials-in-1">
                        <div class="testimonials-lable-1-in">
                            The teachers are simply wonderful. I am very <br> happy that I went to study English here. <br> Lessons and practice at the highest level. <br> Thanks for the lessons!
                        </div>
                    </div>
                </div>
                <div class="testimonials-in-1 swiper-slide">
                    <div class="testimonials-in-1">
                        <div class="testimonials-lable-1-in">
                            The teachers are simply wonderful. I am very <br> happy that I went to study English here. <br> Lessons and practice at the highest level. <br> Thanks for the lessons!
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="../static/img/testimonials/prav.png" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="../static/img/testimonials/next.png" alt="">
            </div>
        </div>
     </div>
     <div class="service">
        <div class="service-lable">
            <div class="service-lable-1">Choose Your Plan</div>
        </div>
        <div class="service-block">
            <div class="service-block-1">
                <div class="service-block-1-lable-1">Individual</div>
                <div class="service-block-1-lable-2"><span>$</span>50</div>  
                <div class="service-block-1-lable-3">Per Month</div>
                <div class="service-block-1-lable-4">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel consequat ex urna ut massa maecenas justo sapien.</div>
                <div class="service-block-1-button">
                    <a href="#">Get Starts</a>
                </div>
            </div>
            <div class="service-block-1">
                <div class="service-block-1-lable-1">Up to 3 people</div>
                <div class="service-block-1-lable-2"><span>$</span>49</div>  
                <div class="service-block-1-lable-3">Per Month</div>
                <div class="service-block-1-lable-4">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel consequat ex urna ut massa maecenas justo sapien.</div>
                <div class="service-block-1-button">
                    <a href="#">Get Starts</a>
                </div>
            </div>
            <div class="service-block-1">
                <div class="service-block-1-lable-1">Up to 5 people</div>
                <div class="service-block-1-lable-2"><span>$</span>119</div>  
                <div class="service-block-1-lable-3">Per Month</div>
                <div class="service-block-1-lable-4">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel consequat ex urna ut massa maecenas justo sapien.</div>
                <div class="service-block-1-button">
                    <a href="#">Get Starts</a>
                </div>
            </div>
        </div>
        <div class="service-bottom">
            <div class="service-botton-lable">
                <div class="service-bottom-lable-1">Find your <br> course</div>
                <div class="service-bottom-lable-2">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis.                </div>
            </div>
            <div class="service-bottom-input">
                <form action="">
                    <input name="Uncername" type="text" required placeholder="Name">
                    <input name="Email" type="Email" required placeholder="Email">
                    <div class="input-3">
                        <select name="reslt" id="languageSelect">
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Poland">Poland</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Italian">Italian</option>
                            <option value="Japanese">Japanese</option>
                        </select>
                        <input id="selectedLanguage" style="width: 0;height: 0; overflow: hidden; opacity:0;"  type="text" name="push">
                    </div>
                    <input style="color: #fff; font-size: 20px;" value="Submit" class="submitFOrm" type="submit">
                </form>
            </div>
        </div>
     </div>
     <div class="futer">
        <div class="futer-lable">
            dkfkd
        </div>
     </div>
    <!-- lo ader -->
    <div id="loader" class="loader-container">
        <div class="loader-img">
            <img width="200px" src="../static/img/navbar/craiyon_144931_transparent.png" alt="">
        </div>
        <div class="loader"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/mean.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>
</html>