<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Course</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="hader">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/642fb68262ccd07d50c3d59b_Logo%20Dark.png" alt="">
            </div>
            <div class="navbar-centr">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/test">Tests</a></li>
                    <div id="bars" class="bars">
                        <span></span>
                    </div>
                    <li><a href="">Log out</a></li>
                </ul>
            </div>
        </div>
        <div id="medioNavbar" class="medio-navbar">
            <div class="navbar-logo">
                <img width="200px" src="../static/img/navbar/craiyon_144931_transparent.png" alt="">
            </div>
            <div class="navbar-centr">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="/test">Tests</a></li>
                    <li><a href="">Log out</a></li>
                    <li id="close">X</li>
                </ul>
            </div>
        </div>
        <div class="baner">
            <div class="baner-img">
                <div class="baner-img-1">
                    <img src="../static/img/baner/1.webp" alt="">
                    <img src="../static/img/baner/text-1.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/2.webp" alt="">
                    <img src="../static/img/baner/text-2.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/3.webp" alt="">
                    <img src="../static/img/baner/text-3.png" alt="">
                    <div class="square"></div>
                </div>
                <div class="baner-img-1">
                    <img src="../static/img/baner/4.webp" alt="">
                    <img src="../static/img/baner/text-4.png" alt="">
                    <div class="square"></div>
                </div>
            </div>
            <div class="baner-lable">
                <div class="baner-lable-1">Learn With The Best Online School.</div>
                <div class="baner-lable-2">The world-leading platform with 10K+ successful lessons.</div>
                <div class="baner-input">
                    <form action="/search">
                        <input name="search" type="text" placeholder="Search course, mentor ect.">
                        <input type="submit"  class="searchSubmit" value="">
                    </form>
                </div>
                <div class="baner-button">
                    <a href="/test">Start the Test</a>
                </div>
            </div>
            <div class="bac-bottom"></div>
        </div>
    </div>
    <div class="tech">
        <div class="tech-lable">
            <div class="tech-lable-icon">
                <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641aae28b8c402657a1ed5a7_Icon%20Title.png" alt="">
            </div>
            <div class="tech-lable-1">Our Professional Teachers</div>
            <div class="tech-lable-2">We provide the best service that comes with the best results.</div>
        </div>
        <div class="tech-block">
            <div class="tech-block-top">
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-1.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Esther Howard</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-2.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Brooklyn Simons</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-3.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Savannah Nguyen</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
                <div class="tech-block-1">
                    <div class="block-img">
                        <div class="block-img-1">
                            <img src="../static/img/tech/flag-4.png" alt="">
                        </div>
                    </div>    
                    <div class="block-lable">
                        <a class="block-lable-1" href="">Annette Black</a>
                        <div class="block-lable-2">Lorem ipsum dolor sit amet <br> consectetur elit sed do.</div>
                    </div>
                    <div class="block-bottom">
                        <div class="black-bottom-lable-1">Price</div>
                        <div class="block-bottom-lable-2"><span>$</span>25.00
                        </div>
                    </div>  
                </div>
            </div>
            <div class="tech-block-bottom">
                <div class="tech-block-bottom-img">
                    <img class="bottom-block-img-1" src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641ac245dfe41e211053ec72_Img%20Home.webp" alt="">
                    <img class="ab-img" src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641af96a5a8ad469932baea7_Experiance%20Img.png" alt="">
                </div>
                <div class="tech-block-bottom-lable">
                    <div class="tech-block-bottom-lable-1">Welcome to Online Class Twinkle</div>
                    <div class="tech-block-bottom-lable-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sit nunc mauris arcu blandit. Turpis vitae lectus a ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <a href="" class="tech-block-bottom-button">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="trust-part-3">
        <div class="trust-part-3-in">
         <div class="trust-part-3-in-blog">
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">1</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">2</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">3</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
            </div>
            <div class="trust-part-3-in-blog-1">
                <div class="trust-part-3-in-blog-1-number">4</div>
                <div class="trust-part-3-in-blog-1-lable">
                    <div class="trust-lable-1">Skilled Lecturers</div>
                    <div class="trust-lable-2">Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</div>
                </div>
             </div>
         </div>
         <div class="trust-part-3-in-blog-img">
            <div class="trust-lable">
                <div class="trust-in-lable-1">Services</div>
                <div class="trust-in-lable-2">What We <br> Provide To You </div>
                <div class="trust-in-lable-3">Pellentesque fringilla, massa sit amet feugiat mollis, leo turpis elementum justo, vel consequat ex urna ut massa maecenas justo sapien.                </div>
                <div class="trust-in-button">
                    <a href="">Veaw All</a>
                </div>
                </div>
            </div>
         </div>
        </div>
    </div>
    <!-- loader -->
    <div id="loader" class="loader-container">
        <div class="loader-img">
            <img width="200px" src="../static/img/navbar/craiyon_144931_transparent.png" alt="">
        </div>
        <div class="loader"></div>
    </div>
    <script src="../static/mean.js"></script>
</body>
</html>