<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Course</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="hader">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/642fb68262ccd07d50c3d59b_Logo%20Dark.png" alt="">
            </div>
            <div class="navbar-centr">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="navbar-left">
                <ul>
                    <li><a href="">Tests</a></li>
                    <div class="bars">
                        <span></span>
                    </div>
                    <li><a href="">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../static/mean.js"></script>
</body>
</html>