<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text</title>
    <link rel="stylesheet" href="../static/test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="test">
        <div class="test-lable">
            <div class="test-lable-1">I am your <ul><li><span>Mentor</span></li>
            <li><span>Examiner</span></li>
            <li><span>Teacher</span></li></ul> </div>
            <div class="test-lable-2">You will determine your English proficiency level using <br> the test  I have created.
            </div>
            <div class="buttons">
                <div id="openTestMenu">Get Starts</div>
                <div id="openVideo"><i class="fa-solid fa-play"></i> Watch Vedio</div>
            </div>
            <div id="testButton" class="test-button">
                <a href="/test/eilts">EILTS</a>
                <a href="/test/eilts">CEFR</a>
                <a href="/test/eilts">DUOLINGO</a>
            </div>
        </div>
        <div class="test-img">
            <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641b0be4800e7ce9187137ec_Img%201%20Banner%20Home%201.png" alt="">
            <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641b0c73af06ef7712936782_Img%202%20Banner%20Home%201.png" alt="">
            <img src="https://cdn.prod.website-files.com/64184874f371bc785f2236eb/641b0b823cc176a3c285fd9c_Banner%202%20Img.webp" alt="">
        </div>
    </div>
    <div id="testVedio" class="test-vedio">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KVoB2s_6KSw?si=7f9hcWSFA3SIUbnm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="loader" class="loader-container">
        <div class="loader-img">
            <img width="200px" src="../static/img/navbar/craiyon_144931_transparent.png" alt="">
        </div>
        <div class="loader"></div>
    </div>
    <script src="../static/test.js"></script>
</body>
</html>